FrontEnd/bower_components
FrontEnd/components
FrontEnd/node_modules
FrontEnd/vendor
FrontEnd/www
C#TestBackend/PreviewerAppAPI/bin
C#TestBackend/PreviewerAppAPI/obj
C#TestBackend/.vs
APIDataServer/APIDataServer/bin
APIDataServer/APIDataServer/obj
APIDataServer/DataClasses/bin
APIDataServer/DataClasses/obj
DesktopApplication/Preview_App/bin
DesktopApplication/Preview_App/obj
DesktopApplication/packages
DesktopApplication/.vs
APIDataServer/Data
*.suo
