PreviewAppFrontEnd/bower_components
PreviewAppFrontEnd/components
PreviewAppFrontEnd/node_modules
PreviewAppFrontEnd/vendor
PreviewAppFrontEnd/www
C#TestBackend/PreviewerAppAPI/bin
C#TestBackend/PreviewerAppAPI/obj
C#TestBackend/.vs