<section class="content" ng-controller="ActivitiesController">
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="banner">
        <div class="banner-img"></div>
      </div>

      <div class="content">
        <div class="panel-group"

          ui-state='myAccordion'
          ui-default='0'>

          <div class="panel panel-default" ng-repeat="activity in activities">
            <div class="panel-heading" ui-set="{'myAccordion': {{ activity.id }} }">

              <h4 class="panel-title">
                  {{activity.title}}
              </h4>
            </div>

            <div ui-if="myAccordion == {{ activity.id }}">
              <div class="panel-body">
              <table><tr>
                <td style="padding-right:10px; vertical-align:top;">
                  <img src="images/activity.jpg" style="width:50px;height:50px;"/>
                </td>
                <td>
                    {{ activity.dates }}</br>
                    <span ng-bind-html="activity.location | unsafe"></span>
                    <p ng-bind-html="activity.description | unsafe"></p>
                  </td>
                </tr></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
