<section class="content" ng-controller="HelpController">
<div class="scrollable">
  <div class="scrollable-content">
    <div class="banner">
      <div class="banner-img"></div>
    </div>

    <div class="content">
      <div class="panel-group"

        ui-state='myAccordion'
        ui-default='0'>

        <div class="panel panel-default" ng-repeat="Question in questions">
          <div class="panel-heading" ui-set="{'myAccordion': {{ Question.id }}}">

            <h4 class="panel-title">
                {{ Question.Query }}
            </h4>
          </div>

          <div ui-if="myAccordion == {{ Question.id }}">
            <div class="panel-body">
              <div>
                <p ng-bind-html="Question.Answer | unsafe"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
