<section ng-controller="HomeController">
      <div class="scrollable" >
        <div class="scrollable-content blue-background">
          <div class="banner">
            <div class="banner-img"></div>
          </div>

          <div class="content">
            <button ng-click="goToMaps()" class="button">Maps</button>
            <button ng-click="goToSchedule()" class="button">Schedule</button>
            <button ng-click="goToActivities()" class="button">Activities</button>
            <button ng-click="goToDining()" class="button">Dining</button>
            <button ng-click="goToHelp()" class="button">Help</button>
        </div>
      </div>
    </div>
</section>
