<section class="content" ng-controller="DiningController">
<div class="scrollable">
  <div class="scrollable-content">
    <div class="banner">
        <div class="banner-img"></div>
    </div>
    <div class="content">
      <div class="panel-group"

        ui-state='myAccordion'
        ui-default='0'>

        <div class="panel panel-default" ng-repeat="i in counts">
          <div class="panel-heading" ui-set="{'myAccordion': i}">

            <h4 class="panel-title">
                {{titles[i]}}
            </h4>
          </div>

          <div ui-if="myAccordion == {{i}}">
            <div class="panel-body">
              <div>
                <p ng-bind-html="content[i] | unsafe"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-default" style="">
          <div class="panel-heading" ui-set="{'myAccordion': 2}">
            <h4 class="panel-title">
              Map
            </h4>
          </div>
          <div ui-if="myAccordion == 2">
            <div class="panel-body">
              <div map-lazy-load="https://maps.google.com/maps/api/js"><ng-map center="32.465758, -94.725176" zoom="16"></ng-map>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</section>
