<section ng-controller="MapsController">

<div class="scrollable">
  <div class="scrollable-content">
    <div class="banner">
      <div class="banner-img"></div>
    </div>

      <div class="content">

        <div class="panel-group"
          ui-state='myAccordion'
          ui-default='0'>

          <div class="panel panel-default" style="">
            <div class="panel-heading" ui-set="{'myAccordion': 0}">
              <h4 class="panel-title">
                Campus Map
              </h4>
            </div>
            <div ui-if="myAccordion == 0">
              <div class="panel-body">
                <ui-select ng-model="model.selected" ng-change="onSelected($select.selected, $select)" theme="select2" ng-disabled="disabled" style="width: 50%;margin-bottom: 10px;" title="Choose a building">
                  <ui-select-match placeholder="Find building...">{{$select.selected.Name}}</ui-select-match>
                  <ui-select-choices repeat="building in buildings| propsFilter: {Name: $select.search, Code: $select.search}">
                    <div ng-bind-html="building.Name | highlight: $select.search"></div>
                    <small>
                      Building Code: <span ng-bind-html="''+building.Code| highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
                </ui-select>
                <div map-lazy-load="https://maps.google.com/maps/api/js">
                    <!--<ng-map center="32.465688, -94.726522" zoom="15"></ng-map>-->
                    <ng-map center="current-location" zoom="15"></ng-map>
                </div>
              </div>
            </div>
          </div>


          <div class="panel panel-default" style="">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
              <h4 class="panel-title">
                Building Map
              </h4>
            </div>
            <div ui-if="myAccordion == 1">
              <div class="panel-body">
                <div id="building-map-viewer">
                    <img src="images/LongviewHall.png" width="100%" height="100%" alt="" ng-pinch-zoom styles="transform-origin: 0px; 0px; 0px;">
                <!--      <img ng-style="coordinates()" src="images/glaske-partial.png" />-->
                </div>
              </div>
            </div>
          </div>

      </div>
  </div>
  </div>
</div>


</section>
