<section ng-controller="MapsController">

<div class="scrollable">
  <div class="scrollable-content">
    <div class="banner">
      <div class="banner-img"></div>
    </div>

      <div class="content">

        <div class="panel-group"
          ui-state='myAccordion'
          ui-default='0'>

          <div class="panel panel-default" style="">
            <div class="panel-heading" ui-set="{'myAccordion': 0}">
              <h4 class="panel-title">
                Campus Map
              </h4>
            </div>
            <div ui-if="myAccordion == 0">
              <div class="panel-body">
                <ui-select ng-model="model.selected" ng-change="onSelected($select.selected, $select)" theme="select2" ng-disabled="disabled" style="width: 50%;margin-bottom: 10px;" title="Choose a building">
                  <ui-select-match placeholder="Find building...">{{$select.selected.name}}</ui-select-match>
                  <ui-select-choices repeat="building in buildings| propsFilter: {name: $select.search, code: $select.search}">
                    <div ng-bind-html="building.name | highlight: $select.search"></div>
                    <small>
                      Building Code: <span ng-bind-html="''+building.code| highlight: $select.search"></span>
                    </small>
                  </ui-select-choices>
                </ui-select>

                <ng-map center="32.468040, -94.724982" zoom="18"></ng-map>
              </div>
            </div>
          </div>

          <div class="panel panel-default" style="">
            <div class="panel-heading" ui-set="{'myAccordion': 1}">
              <h4 class="panel-title">
                Building Map
              </h4>
            </div>
            <div ui-if="myAccordion == 1">
              <div class="panel-body">
                <div id="building-map-viewer">
                  <!--maybe margin-left: {{lat}}; margin-top:{{long}}; eventually-->
                  <!--to change the source image, use ng-src and call
                   $scope.apply() to refresh-->
                  <img ng-style="coordinates()" src="images/glaske-partial.png" />
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>


</section>
